# Exclude Python's bytecode cache
__pycache__/

# Exclude the virtual environment
.venv/

# Exclude VS Code's workspace settings
.vscode/

# Exclude datasets (too large)
data/

# Exclude notebooks since their use is for visualization
notebooks/

# model weights (may be too large)
model_weights.pth

# WandB
wandb/

# Other
file_structure_example.txt
HPC_installed_packages.txt
visualization_of_images/
check_celebA.py
check_DIV2K.py
check_MNIST.py
check_metrics.py